[submodule "sldpt"]
	path = sldpt
	url = https://github.com/sergets/sldpt
	branch = master
[submodule "mgtmap-gp-troll"]
	path = mgtmap-gp-troll
	url = https://github.com/sergets/mgtmap
	branch = gp-2
[submodule "mgtmap-checkout"]
	path = mgtmap-checkout
	url = https://github.com/sergets/mgtmap
	branch = master
